@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: 400;
  widows: 100vw;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 1rem;
  background: whitesmoke;
}

.nav-background {
  background: #13242E;
  height: 3rem;
  box-shadow: 0 2px 3px 1px black;
  z-index: 1;
}

.nav-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 3;
  width: 20px;
  height: 20px;
  display: flex;
}

.nav-btn span {
  width: 30px;
  height: 5px;
  background: #fff;
  display: flex;
  position: absolute;
  transition: 0.3s;
  border-radius: 2.5px;
  box-shadow: 0 0.5px 2px 0px black;
}

.nav-btn span:nth-child(1) {
  top: 20%;
}

.nav-btn span:nth-child(2) {
  top: 80%;
}

.nav-btn.is-active span {
  background: #fff;
}

.nav-btn.is-active span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
}

.nav-btn.is-active span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  padding: 100px;
  z-index: 2;
  transition: 0.3s;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
}

.nav-menu.is-active {
  visibility: visible;
  opacity: 1;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.nav-link {
  position: relative;
  display: inline-flex;
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #000;
}

.nav-link:after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: -5px;
  height: 2rem;
  display: inline-flex;
  background: lightgreen;
  width: 0;
  transition: 0.3s;
  z-index: -1;
}

.nav-link:hover:after {
  width: 110%;
  border-radius: 0 5px 5px 0;
}

.header {
  padding: 0;
  margin-bottom: -1rem;
  widows: 100vw;
  height: 30vh;
}
.header img {
  z-index: -2;
  width: 100vw;
  height: auto;
}

.content {
  background: whitesmoke;
  padding: 1em 1rem 5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  position: relative;
  margin: -1rem 0 -1rem 0;
  border-radius: 1rem;
}
.content .logo {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  background: whitesmoke;
  margin-bottom: -3rem;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
}
.content .logo img {
  width: 5rem;
}
.content .feature {
  background-color: #ffffff;
  height: auto;
  padding: 15px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  width: 20rem;
}
.content .feature img {
  width: 20rem;
  max-height: max-content;
  border-radius: 0 0 0.5rem 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.content .feature p {
  font-size: 1rem;
  color: grey;
  margin-bottom: 10rem;
}
.content .feature h3 {
  font-weight: 500;
  color: #2C475F;
  font-family: "Poppins", sans-serif;
  margin: 0.5rem 0;
}

.get-started {
  background: #13242E;
  padding: 5rem 2rem;
  font-size: 1rem;
  margin: auto;
  text-align: center;
}
.get-started h5 {
  font-size: 1.1rem;
  font-weight: 500;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
}
.get-started p {
  color: grey;
  margin-bottom: 3rem;
}

.button1 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button1:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button1:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button1:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.login {
  background-color: #ffffff;
  height: auto;
  padding: 15px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  margin: auto;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: grid;
  margin-top: 5rem;
  margin-bottom: 5rem;
  grid-template-row: 100%;
  width: 20rem;
  gap: 0.5rem;
  padding: 2rem auto;
}
.login img {
  width: 4em;
  margin: auto;
  text-align: center;
}
.login h3 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Poppins", serif;
}

/*# sourceMappingURL=index.css.map */
