

@use "../layout/layout"
@use "../typograpy/typograpy"
@use "../base/base"
.header
  padding: 0
  margin-bottom: -1rem
  widows: 100vw
  height: 30vh

  img
    z-index: -1
    width: 100vw
    height: auto
  
.content
  background: whitesmoke
  padding: 1em 1rem 5rem 1rem
  @include layout.container
  position: relative
  margin: -1rem 0 -1rem 0

  border-radius: 1rem 

    // LOGO
  .logo
    width: 6rem
    height: 6rem
    border-radius: 3rem
    background: whitesmoke
    margin-bottom: -3rem
    // margin-top: 4rem
    padding: .5rem
    position: absolute
    bottom: 0
    img
      width:5rem
    
        //FEATURE
  .feature
    @include layout.paper
    @include layout.shadow
    position: relative
    // padding: 1rem
    img
      width: inherit
      max-height: max-content
      margin-left: -0.64rem
      margin-bottom: -1.4rem
      border-radius: 0 0 .5rem .5rem

    p 
      @include typograpy.grey
    h3 
      font-weight: 600
      color: base.$lightdark

.feature:nth-child(1) img
  // margin-top: -6rem
  position: absolute
  bottom: 0
  left: 0
  width: inherit

.get-started
  background: base.$lightdark
  padding: 5rem 2rem
  font-size: 1rem
  @include layout.center

  h5
    @include typograpy.font(1.5rem,500,#fff)
    

    





